:root {
	--titles: "Poppins", sans-serif;
	--text: "Delicious Handrawn", cursive;
}

html,
body {
	margin: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/* ========
Layout
========= */
body {
	background-color: #ffcc99;
	background-image: url(../assets/wallpaper.jpg);
	background-size: cover;
	/* Image by starline on Freepik */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
}

.container {
	border-radius: 40px;
	border: 8px solid #eaeaea;
	box-shadow: 0px 5px 20px 3px;
	width: 85%;
	max-width: 350px;
	height: 90%;
	padding: 0.5em;
	background-color: #fffff0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.dashboard {
	margin-bottom: 0.5em;
	text-align: center;
}

/* rendered dog card */
.profile__card {
	margin: 0 auto;
	width: 95%;
	height: auto;
	position: relative;
}

.card__image {
	width: 100%;
	height: min(60vh, 450px);
	object-fit: cover;
	z-index: 1;
	border-radius: 7.5px;
}

.card__status,
.card__bio {
	position: absolute;
	z-index: 2;
}

.card__bio {
	bottom: 0.75em;
	left: 1em;
}

.card__bio p {
	margin-top: 0em;
	margin-bottom: 0.25em;
	padding-right: 0.25em;
}

.card__status {
	width: min(40%, 200px);
	height: auto;
	inset: -70px 0 0 -70px;
	transform: rotate(-40deg);
	animation: stamp 1000ms ease-in forwards;
}

@keyframes stamp {
	100% {
		left: 7%;
		top: 10%;
	}
}

/* Game end card */

.gameOverContainer {
	background-color: rgba(230, 230, 250, 0.424);
	height: min(60vh, 450px);
	border-radius: 7.5px;
	padding: 1em;
	text-align: center;
}

.gameOverContainer ul {
	list-style-type: none;
	padding: 0.25em;
	margin: 0;
}

.gameOverContainer li {
	padding: 0.25em;
}

.gameOver__image {
	margin: 0.5em;
	width: 120px;
	height: auto;
}

/* event buttons */
.btn {
	margin: 0.25em;
	padding: 0.5em;
	width: 2.75rem;
	height: 2.75rem;
	border-radius: 50%;
	border: none;
	box-shadow: 0px 10px 10px #a4a7a7;
	cursor: pointer;
	transition: background-color 500ms ease;
}

.btn img {
	margin: 0 auto;
	padding-top: 5px;
	height: 70%;
	width: auto;
}

.btn--heart:hover {
	background-color: #dbfff4;
}

.btn--reject:hover {
	background-color: #ffe7ef;
}

.btn--reset {
	padding: 0;
	border-radius: 20px;
	background-image: linear-gradient(270deg, #fa695a 0%, #f83375 100%);
	width: 4rem;
	height: 2rem;
}

.btn--reset:hover {
	background-image: linear-gradient(270deg, #fa6a5a 0%, pink 100%);
}

/* =========
Typography 
==========*/

.card__heading,
.gameOverContainer {
	font-family: var(--titles);
	font-weight: 600;
	text-transform: capitalize;
}

.card__bio,
.gameOverContainer ul {
	font-family: var(--text);
}

.card__heading,
.card__bio {
	color: whitesmoke;
}
